.btn{
    font-family: 'fc_activeregular', sans-serif !important;    
    font-size: 1.5rem !important;
}

p{
    font-family: 'fc_activeregular', sans-serif !important;
    font-size: 1.5rem !important;
    margin-top: -0.5rem !important;
    margin-bottom: 0.5rem !important;

}