.btn{
    font-family: 'fc_activeregular', sans-serif !important;    
    font-size: 1.5rem !important;
}

p{
    font-family: 'fc_activeregular', sans-serif !important;
    font-size: 1.5rem !important;
    margin-top: -0.5rem !important;
    margin-bottom: 0.5rem !important;

}

.dashboard-container{
    background-color: #f3f3f3;
    height: 100vh;
    padding: 1.25em 0 0 0;
}

.sidebar-container{
    background-color: #fff;
    // height: 100vh;
    padding: 1.5em 1em 1.5em 1em;
}

.view-container{
    background-color: #fff;
    // height: 100vh;
    padding: 1.5em 1em 1.5em 1em;
}