.date-input-field{
    background-color: white !important;
}

.btn-swalert {
    padding: 0.5rem 2.25rem !important;
    font-size: 1.375rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    margin: 0 5px;
}

.swal2-content{
    font-family: 'fc_activeregular', sans-serif !important;
    font-size: 1.5rem !important;
}